:host {
  display: block;
  width: 100%;
}

.app-skeleton-loader-container {
  position: relative;

  height: 100%;
  width: 100%;

  background-color: var(--background-color--skeleton-loader);
  overflow: hidden;
}

.app-skeleton-loader-container.app-skeleton-loader-container--box {
  border-radius: 0.4rem;
  overflow: hidden;
}

.app-skeleton-loader-container.app-skeleton-loader-container--img {
  border-radius: 0.4rem;
  overflow: hidden;
}

.app-skeleton-loader-container.app-skeleton-loader-container--input {
  height: 3rem;
  border-radius: 0.4rem;
  overflow: hidden;
}

.app-skeleton-loader-container.app-skeleton-loader-container--inline {
  border-radius: 0.4rem;
  overflow: hidden;
  width: 10;
}

.app-skeleton-loader-container::after {
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(transparent),
    color-stop(rgba(255, 255, 255, 0.2)),
    to(transparent)
  );

  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2), transparent);
  animation: loading 0.8s infinite;
}

@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}

@media (prefers-reduced-motion: reduce) {
  .app-skeleton-loader-container::after {
    animation: none;
    display: none;
  }
}
