<h1 class="header-brand">
    <img class="header-icon" src="img/rentify-logo.svg" alt="Rentify Icon"/>
    <div class="header-text">
        <div class="header-title">Rentify</div>
        <div class="header-alt">Rent & Utility Manager</div>
    </div>
</h1>
<nav class="site-nav">
    <div #navHighlight class="nav-highlight"></div>
    <ul class="nav-list">
        <!-- <li data-navName="index" #navItem class="active"><a routerLink="/">Dashboard</a></li> -->
        <li data-nav-name="properties" #navItem><a routerLink="/properties">Properties</a></li>
        <li data-nav-name="units" #navItem><a routerLink="/units">Units</a></li>
        <li data-nav-name="tenants" #navItem><a routerLink="/tenants">Tenants</a></li>
        <li data-nav-name="contracts" #navItem><a routerLink="/contracts">Contracts</a></li>
        <li data-nav-name="billing" #navItem><a routerLink="/billing">Billing</a></li>
    </ul>
</nav>