<app-panel [icon]="ICONS.Images" heading="Property Media">
  <div appPanelButtons class="app-property-media__btns">
    <button
      [disabled]="loading"
      type="normal"
      color="primary"
      appButton
      [input]="{ icon: ICONS.Plus, label: 'Add' }"
      (click)="onFileInputClick()"
    ></button>
    <input #fileInput type="file" accept="image/*" hidden multiple (change)="onFileSelected()" />
  </div>

  @if (loading) {
    <div appPanelDesc class="app-property-media__galary">
      @for (id of [1, 2]; track id) {
        <app-skeleton-loader type="img" class="app-property-media__galary_img"> </app-skeleton-loader>
      }
    </div>
  } @else {
    <div appPanelDesc class="app-property-media__galary">
      @for (file of imageList$ | async; track file.data.id) {
        @if (
          file.kind === 'new' || file.data.processingStatus === 'uploading' || file.data.processingStatus === 'uploaded'
        ) {
          <div class="app-property-media__galary_img">
            <div class="app-property-media__galary_img__loading-overlay">
              <app-spinner-loader class="app-property-media__galary_img__loading-animation"></app-spinner-loader>
              <!-- The status of uploaded is a but confusing for users, hence treading it as uploading and then would transition to processing -->
              <div>{{ file.data.processingStatus === 'uploaded' ? 'uploading' : file.data.processingStatus }}</div>
            </div>
            <img src="/img/thumbnails/placeholder-house-2.jpg" [alt]="file.data.name" />
          </div>
        } @else {
          <div class="app-property-media__galary_img" [class.disabled]="file.disableActions">
            <div class="app-property-media__galary_img__action-overlay">
              @if (file.data.markedAsCover) {
                <lucide-icon
                  [img]="ICONS.Star"
                  class="app-property-media__galary_img__action__cover app-button__icon--inline app-button__icon--filled"
                ></lucide-icon>
              } @else {
                <button
                  appButton
                  color="primary"
                  type="normal"
                  iconClass="app-button__icon--inline"
                  class="app-property-media__galary_img__action__icon"
                  [input]="{ icon: ICONS.Star }"
                  [disabled]="file.disableActions || file.data.markedAsCover"
                  (click)="onMarkAsCover(file)"
                ></button>
              }

              <button
                appButton
                color="danger"
                type="normal"
                iconClass="app-button__icon--inline"
                class="app-property-media__galary_img__action__icon"
                [input]="{ icon: ICONS.Trash2 }"
                [disabled]="file.disableActions"
                (click)="onRemoveClick(file)"
              ></button>
            </div>
            <img [src]="generatePropertyUrl(file.data, 'thumbnail')" [alt]="file.data.name" />
          </div>
        }
      }
    </div>
  }
</app-panel>
