app-panel {
  height: 100%;
}

.app-property-media__btns button[appButton] {
  width: 11ch;
}

.app-property-media__galary {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: max-content;
  gap: 0.8rem;

  max-height: 28.75rem;
  overflow-y: auto;
}

.app-property-media__galary_img {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;

  background-color: var(--background-color-shade-3);

  border-radius: 0.4rem;
  overflow: hidden;
}

.app-property-media__galary_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.app-property-media__galary_img__loading-overlay {
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  width: 100%;
  height: 90%;

  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;

  color: var(--text-color);
}

.app-property-media__galary_img__loading-animation {
  width: 2rem;
  height: 2rem;
}

.app-property-media__galary_img__action-overlay {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  align-items: start;
  justify-content: end;
  gap: 0.4rem;

  padding: 0.8rem;

  width: 100%;
  height: 100%;

  opacity: 0;

  background-color: var(--background-color--overlay);

  transition:
    background-color var(--base-animation-time) ease-in-out,
    opacity var(--base-animation-time) ease-in-out;
}

.app-property-media__galary_img:hover .app-property-media__galary_img__action-overlay,
.app-property-media__galary_img.disabled .app-property-media__galary_img__action-overlay {
  opacity: 1;
}

.app-property-media__galary_img.disabled .app-property-media__galary_img__action-overlay {
  background-color: var(--background-color--overlay-shade-3);
}

.app-property-media__galary_img__action__icon {
  width: 2.8rem;
  height: 2.8rem;
}
