<app-panel [icon]="ICONS.InfoIcon" title="Property Details">
  <div appPanelButtons class="app-property-details__btns">
    <button
      appButton
      [input]="
        propertyDetails.mode.isEdit ? { icon: ICONS.Save, label: 'Save' } : { icon: ICONS.SquarePen, label: 'Edit' }
      "
      [disabled]="loading || propertyDetails.isActionDisabled"
      (click)="onAddEditClick()"
    ></button>
    <button
      appButton
      color="danger"
      [input]="
        propertyDetails.mode.isEdit ? { icon: ICONS.CircleX, label: 'Close' } : { icon: ICONS.Trash2, label: 'Delete' }
      "
      [disabled]="loading || propertyDetails.isActionDisabled"
      (click)="onRemoveCloseClick()"
    ></button>
  </div>

  @if (loading) {
    <div appPanelDesc appForm>
      <div formGroup>
        <label for="property-name">Property Name</label>
        <app-skeleton-loader type="input" class="app-property-details__shadow-input"></app-skeleton-loader>
      </div>
      <div formGroup>
        <label for="property-street-name">Address</label>
        <app-skeleton-loader type="input" class="app-property-details__shadow-input"></app-skeleton-loader>
      </div>

      <div formRow>
        <div formGroup>
          <label for="property-city">City</label>
          <app-skeleton-loader type="input" class="app-property-details__shadow-input"></app-skeleton-loader>
        </div>
        <div formGroup>
          <label for="property-state">State</label>
          <app-skeleton-loader type="input" class="app-property-details__shadow-input"></app-skeleton-loader>
        </div>
        <div formGroup>
          <label for="property-zip-code">Zip Code</label>
          <app-skeleton-loader type="input" class="app-property-details__shadow-input"></app-skeleton-loader>
        </div>
      </div>
      <div formGroup>
        <label for="property-description">Description</label>
        <app-skeleton-loader type="box" class="app-property-details__shadow-text-box"></app-skeleton-loader>
      </div>
    </div>
  } @else {
    <form appPanelDesc appForm [isReadOnly]="propertyDetails.mode.isView">
      <div formGroup>
        <label for="property-name">Property Name</label>
        <input
          type="text"
          name="property-name"
          id="property-name"
          [attr.invalid]="propertyDetails.isInvalid?.name ? '' : null"
          [attr.shake]="propertyDetails.doShake?.name ? '' : null"
          (animationend)="propertyDetails.doShake = propertyDetails.doShake ?? {}; propertyDetails.doShake.name = false"
          [(ngModel)]="propertyDetails.data.name"
          (ngModelChange)="onInputChange('name')"
        />
      </div>
      <div formGroup>
        <label for="property-street-name">Address</label>
        <input
          type="text"
          name="street-name"
          id="property-street-name"
          [attr.invalid]="propertyDetails.isInvalid?.streetName ? '' : null"
          [attr.shake]="propertyDetails.doShake?.streetName ? '' : null"
          (animationend)="
            propertyDetails.doShake = propertyDetails.doShake ?? {}; propertyDetails.doShake.streetName = false
          "
          [(ngModel)]="propertyDetails.data.streetName"
          (ngModelChange)="onInputChange('streetName')"
        />
      </div>
      <div formRow>
        <div formGroup>
          <label for="property-city">City</label>
          <input
            type="text"
            name="property-city"
            id="property-city"
            [attr.invalid]="propertyDetails.isInvalid?.city ? '' : null"
            [attr.shake]="propertyDetails.doShake?.city ? '' : null"
            (animationend)="
              propertyDetails.doShake = propertyDetails.doShake ?? {}; propertyDetails.doShake.city = false
            "
            [(ngModel)]="propertyDetails.data.city"
            (ngModelChange)="onInputChange('city')"
          />
        </div>
        <div formGroup>
          <label for="property-state">State</label>
          <input
            type="text"
            name="property-state"
            id="property-state"
            [attr.invalid]="propertyDetails.isInvalid?.state ? '' : null"
            [attr.shake]="propertyDetails.doShake?.state ? '' : null"
            (animationend)="
              propertyDetails.doShake = propertyDetails.doShake ?? {}; propertyDetails.doShake.state = false
            "
            [(ngModel)]="propertyDetails.data.state"
            (ngModelChange)="onInputChange('state')"
          />
        </div>
        <div formGroup>
          <label for="property-zip-code">Zip Code</label>
          <input
            type="text"
            name="property-zip-code"
            id="property-zip-code"
            [attr.invalid]="propertyDetails.isInvalid?.zipCode ? '' : null"
            [attr.shake]="propertyDetails.doShake?.zipCode ? '' : null"
            (animationend)="
              propertyDetails.doShake = propertyDetails.doShake ?? {}; propertyDetails.doShake.zipCode = false
            "
            [(ngModel)]="propertyDetails.data.zipCode"
            (ngModelChange)="onInputChange('zipCode')"
          />
        </div>
      </div>
      <div formGroup>
        <label for="property-description">Description</label>
        <textarea
          rows="4"
          name="property-description"
          id="property-description"
          [attr.invalid]="propertyDetails.isInvalid?.description ? '' : null"
          [attr.shake]="propertyDetails.doShake?.description ? '' : null"
          (animationend)="
            propertyDetails.doShake = propertyDetails.doShake ?? {}; propertyDetails.doShake.description = false
          "
          [(ngModel)]="propertyDetails.data.description"
          (ngModelChange)="onInputChange('description')"
        ></textarea>
      </div>
    </form>
  }
</app-panel>
