:host {
  width: 100%;
}

.app-property-units__btns button[appButton] {
  width: 11ch;
}

.app-property-units__table {
  display: grid;
  grid-template-columns: 1.2fr 1fr 1fr 1fr auto;

  width: 100%;
  height: 32.8rem;

  margin-bottom: 0.8rem;

  text-align: left;

  overflow: auto;

  position: relative;
}

.app-property-units__table thead,
.app-property-units__table tbody,
.app-property-units__table tr {
  display: contents;
}

.app-property-units__table th {
  position: sticky;
  top: 0;

  background-color: var(--background-color);

  /* z-index: 2; */
}

.app-property-units__table th {
  padding: 0 0.4rem 0.6rem;

  border-bottom: 1px solid var(--border-color);

  white-space: nowrap;

  font-weight: 600;
  font-size: 1.2rem;
  color: var(--text-color--muted);
}

.app-property-units__table td {
  padding: 0.6rem 0.4rem;

  border-bottom: 1px solid var(--border-color);

  white-space: nowrap;
}

.app-property-units__table_item_action {
  display: flex;
  justify-content: end;
  gap: 1rem;
}
