<app-panel [icon]="ICONS.Blocks" title="Property Units">
  <div appPanelButtons class="app-property-units__btns">
    <button appButton [input]="{ icon: ICONS.Plus, label: 'Add' }"></button>
  </div>
  <table appPanelDesc class="app-property-units__table">
    <thead class="app-property-units__table__head">
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Size</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="app-property-units__table__body">
      @for (i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]; track i) {
        <tr>
          <td>Flat A1</td>
          <td>1BHK</td>
          <td>500</td>
          <td>Occupied</td>
          <td class="app-property-units__table_item_action">
            <button type="inline" color="text" appButton [input]="{ icon: ICONS.SquarePen }"></button>
            <button type="inline" color="danger" appButton [input]="{ icon: ICONS.Trash2 }"></button>
          </td>
        </tr>
      }
    </tbody>
  </table>
</app-panel>
