<app-panel [icon]="ICONS.Images" heading="Property Media">
  <div appPanelButtons class="app-property-media__btns">
    <button
      [disabled]="loading"
      type="normal"
      color="primary"
      appButton
      [input]="{ icon: ICONS.Plus, label: 'Add' }"
      (click)="onFileInputClick()"
    ></button>
    <input #fileInput type="file" accept="image/*" hidden multiple (change)="onFileSelected()" />
  </div>

  @if (loading) {
    <div class="app-property-media__galary" appPanelDesc>
      @for (id of [1, 2]; track id) {
        <app-skeleton-loader type="img" class="app-property-media__galary_img"> </app-skeleton-loader>
      }
    </div>
  } @else {
    <div class="app-property-media__galary" appPanelDesc>
      @for (file of images; track file.data.id) {
        @if (file.data.processingStatus === 'uploading' || file.data.processingStatus === 'uploaded') {
          <div class="app-property-media__galary_img">
            <div class="app-property-media__galary_img__loading-overlay">
              <app-spinner-loader class="app-property-media__galary_img__loading-animation"></app-spinner-loader>
              <!-- The status of uploaded is a but confusing for users, hence treading it as uploading and then would transition to processing -->
              <div>{{ file.data.processingStatus === 'uploaded' ? 'uploading' : file.data.processingStatus }}</div>
            </div>
            <img src="/img/thumbnails/placeholder-house-2.jpg" [alt]="file.data.name" />
          </div>
        } @else {
          <div class="app-property-media__galary_img" [class.disabled]="file.isActionDisabled">
            <div class="app-property-media__galary_img__action-overlay">
              <button
                appButton
                color="danger"
                type="normal"
                iconClass="app-button__icon--inline"
                class="app-property-media__galary_img__action__icon"
                [input]="{ icon: ICONS.Trash2 }"
                [disabled]="file.isActionDisabled"
                (click)="onRemoveClick(file.data)"
              ></button>
            </div>
            <!-- //TO-DO: thumbnail URL -->
            <img [src]="generatePropertyUrl(file.data, 'thumbnail')" [alt]="file.data.name" />
          </div>
        }
      }
    </div>
  }
</app-panel>
