<header class="app-property-maintenance__header">
  <button
    appButton
    type="inline"
    iconClass="app-page_header__icon"
    class="app-property-maintenance__header__back-btn"
    [input]="{ icon: ICONS.ArrowLeft }"
  ></button>
  <h2>Property Maintenance</h2>
</header>
<div class="app-property-maintenance__main">
  <section
    [appPropertyDetails]="propertyDetailsAgg?.generalDetails"
    [propertyId]="propertyId"
    [loading]="propertyLoading"
  ></section>
  <section
    [appPropertyMedia]="propertyDetailsAgg?.mediaFiles"
    [propertyId]="propertyId"
    [loading]="propertyLoading"
  ></section>
  <section
    [appPropertyUnits]="propertyDetailsAgg?.units"
    [propertyId]="propertyId"
    [loading]="propertyLoading"
  ></section>
  <section
    [appPropertyLocation]="propertyDetailsAgg?.location"
    [propertyId]="propertyId"
    [loading]="propertyLoading"
  ></section>
</div>
