<header class="app-property-maintenance__header">
  <h2>Property Maintenance</h2>
  <button
    appButton
    type="normal"
    color="primary"
    class="app-property-maintenance__header__back-btn"
    [disabled]="propertyLoading"
    [routerLink]="propertiesRoute()"
    [input]="{ icon: ICONS.ArrowLeft, label: 'Back to Properties' }"
  ></button>
</header>
<div class="app-property-maintenance__main">
  <section
    [appPropertyDetails]="propertyDetailsAgg?.generalDetails"
    [propertyId]="propertyId"
    [loading]="propertyLoading"
  ></section>
  <section
    [appPropertyMedia]="propertyDetailsAgg?.mediaFiles"
    [propertyId]="propertyId"
    [loading]="propertyLoading"
  ></section>
  <section
    [appPropertyUnits]="propertyDetailsAgg?.units"
    [propertyId]="propertyId"
    [loading]="propertyLoading"
  ></section>
  <section
    [appPropertyLocation]="propertyDetailsAgg?.location"
    [propertyId]="propertyId"
    [loading]="propertyLoading"
  ></section>
</div>
