:root {
  /* Color variable */
  --primary-color: #0066cc;
  --primary-color--shade-5: #003366;
  --primary-color--tint-1: #1a75d1;
  --primary-color--tint-3: #4d94db;

  --text-color: #0b1220;
  --text-color--tint-3: #545963;
  --text-color--tint-4: #6d7179;
  --text-color--tint-5: #858990;
  --text-color--muted: #667085;

  --danger-color: #ef4444;
  --danger-color--shade-5: #782222;
  --danger-color--tint-1: #f15757;
  --danger-color--tint-3: #f47c7c;

  --background-color: #ffffff;
  --background-color--shade-1: #efefef;
  --background-color--shade-2: #cccccc;
  --background-color-shade-3: #b3b3b3;
  --background-color-shade-5: #808080;
  --background-color--muted: #f7f9fb;

  --bacground-color--sidebar: #f1f5f9;

  --background-color--overlay: rgba(0, 0, 0, 0.8);
  --background-color--overlay-shade-3: rgba(77, 77, 77, 0.8);

  --background-color--vacant-badge: #ffe8e8;
  --text-color--vacant-badge: #c62828;

  --background-color--occupied-badge: #e6f8ec;
  --text-color--occupied-badge: #2e7d32;

  --border-color: #e8ecf1;

  --background-color--skeleton-loader: #e2e2e2;

  /* Timing variable */
  --base-animation-time: 0.2s;

  /* Font used */
  --font-family: 'Quicksand', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 10px by default */
  font-family: var(--font-family);
}

body {
  font-size: 1.6rem;
  color: var(--text-color);
  background-color: var(--background-color);
}
