:root {
  /* Color variable */
  --primary-color: #0066cc;
  --primary-color--shade-5: #003366;
  --primary-color--tint-1: #1a75d1;
  --primary-color--tint-3: #4d94db;

  --text-color: #0b1220;
  --text-color--tint-3: #545963;
  --text-color--tint-4: #6d7179;
  --text-color--tint-5: #858990;
  --text-color--muted: #667085;

  --danger-color: #ef4444;
  --danger-color--shade-5: #782222;
  --danger-color--tint-1: #f15757;
  --danger-color--tint-3: #f47c7c;

  --background-color: #ffffff;
  --background-color-shade-3: #b3b3b3;
  --background-color-shade-5: #808080;
  --background-color--muted: #f4f7fa;

  --background-color--overlay: rgba(0, 0, 0, 0.8);
  --background-color--overlay-shade-3: rgba(77, 77, 77, 0.8);

  --border-color: #e8ecf1;

  /* Timing variable */
  --base-animation-time: 0.2s;

  /* Font used */
  --font-family: 'Quicksand', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 10px by default */
  font-family: var(--font-family);
}

body {
  font-size: 1.6rem;
  color: var(--text-color);
  background-color: var(--background-color);
}

/* Icon Styles */
lucide-icon {
  display: inline-flex;
  margin: 0;
  padding: 0;
}

.app-panel__icon {
  width: 1.8rem;
}

.app-button__icon {
  width: 1.4rem;
}

.app-button__icon--inline {
  width: 1.5rem;
}

.app-button-action__icon {
  width: 3.2rem;
}

/* Leaflet Style */
.leaflet-touch .leaflet-bar {
  border: 0.1rem solid var(--text-color--tint-5);
  border-radius: 0.4rem;
}

.leaflet-touch .leaflet-bar a:first-child {
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  border-bottom: 0.1rem solid var(--text-color--tint-5);
}

.leaflet-touch .leaflet-bar a:last-child {
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}

.leaflet-touch .leaflet-bar .leaflet-control-zoom-in,
.leaflet-touch .leaflet-bar .leaflet-control-zoom-out {
  font-family: var(--font-family);
  font-weight: 500;
  color: var(--text-color);
}
