/* Table styling */
.app-table {
  display: grid;
  /* grid-template-columns: repeat(var(--num-of-column), 1fr) auto; */
  text-align: left;
  overflow: auto;
}

.app-table thead,
.app-table tbody,
.app-table tr {
  display: contents;
}

.app-table th {
  position: sticky;
  top: 0;

  padding: 0 0.8rem 0.6rem 0.8rem;

  border-bottom: 1px solid var(--border-color);

  white-space: nowrap;

  font-weight: 600;
  font-size: 1.2rem;

  color: var(--text-color--muted);
  background-color: var(--background-color);
}

.app-table td {
  padding: 0.3rem 0.4rem;

  border-bottom: 1px solid var(--border-color);

  white-space: nowrap;
}
